@import "utils";

.search {
    width: 100%;
    max-width: 1000px;
    margin:0 auto;
    min-height: 92vh;
    flex-direction: column;
    @include flex;
    form {
        width: 80%;
        max-width: 1000px;
        margin:0 auto 30px;
        position: sticky;
        top: 20px;
        left: 0;
        z-index: 1;
        backdrop-filter: blur(10px);
        box-sizing: border-box;
        border: {
            style: solid;
            width: 1px;
            color: #ddd;
            radius: 30px;
        }
        @include flex($j: space-between);
        &:hover,
        &:active,
        &:focus {
            box-shadow: 0 0 4px 2px #ddd;
        }

        label {
            padding: 20px 40px;
            flex: 1 1 100%;
        }

        button {
            flex: 0 0 50px;
            height: 100%;
        }
    }

    .selectBox {
        position: relative;
        button {
            flex-direction: column;
            @include flex($g: 5px);
            * {
                display: block;
            }
            svg {
                margin-top: -10px;
            }
            span {
                color: rgb(133, 133, 133);
                font-size: 1.2rem;
            }
        }
        ul {
            width: max-content;
            position: absolute;
            top: 30px;
            right: 0;
            background: #fff;
            box-shadow: 0 0 4px 2px #eee;
            border-radius: 10px;
            li {
                padding: 10px 20px;
                transition: background-color .2s;
                text-align: right;
                cursor: pointer;
                &:hover {
                    background: #eee;
                }
            }
        }
    }

    .repo {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        padding: 20px;
        box-sizing: border-box;
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            padding: 2vw;
            box-shadow: 0 0 4px 2px #eee;
            border-radius: 10px;
            text-align: left;
            transition: transform .2s;

            &:hover {
                box-shadow: 0 0 4px 2px #ddd;
                transform: translateY(-10px);
            }

            .inner {
                display: flex;
                gap: 10px;

                &__text {
                    h3 {
                        font-size: 20px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    p {
                        margin-top: 10px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: normal;
                        word-wrap: break-word;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                }

                &__status {
                    display: flex;
                    gap: 10px;
                    justify-content: flex-end;
                }
            }
        }
    }
}